[Unit]
Description=Send YUM updateinfo to Zabbix
Requires=zabbix-template-module-yum-updateinfo.service

[Timer]
Unit=zabbix-template-module-yum-updateinfo.service
OnBootSec=15min
OnUnitActiveSec=1w

[Install]
WantedBy=timers.target